.switchBtn {
    position: relative;
    display: inline-block;
    width: 110px;
    height: 34px;
}
.switchBtn input {display:none;}
.slide {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    padding: 8px;
    color: #fff;
}
.slide:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 78px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slide {
    background-color: #8CE196;
    padding-left: 40px;
}
input:focus + .slide {
    box-shadow: 0 0 1px #01aeed;
}
input:checked + .slide:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    left: -20px;
}
.slide.round {
    border-radius: 34px;
}
.slide.round:before {
    border-radius: 50%;
}

.ajustar{
  padding-left: 60px;
  margin-top:30px;
}
.col{
  margin-left: 10em;
  margin-right: 10em;
}
.logo{
  width:50%;
    height:50%;
}
.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}

.Disenio{
  background-color:  #FFFFFFFF;
  margin-left: 20em;
  margin-right: 20em;

}

.centrar{
  margin-left: 10%;
  margin-right: 10%;
  width: 100%;
  border: 0px solid #FFAA7FFF;
  padding: 10px;
  margin-top: 10%;
  background-color: #FFFFFFFF;

}
.centrarTexto{
  text-align: center;
  font-family: Times;
}
hr {
  height: 1px;
  background-color: black;
    margin-left: 8em;
  margin-right: 8em;
}
.texto1{
  
 
}
.footer{
  text-align: center;
  font-size: 10px;
  font-family: Times;
  font-weight: bold;
}
.alinearCombobox{
  margin-left: 6em;
  margin-right: 6em;
}
.parrafoCancelados{
    text-align: justify;
  font-size: 20px;
  font-family: Times;
  margin-left: 5em;
  margin-right: 5em;
}
.parrafo{
  text-align: justify;
  font-size: 20px;
  font-family: Times;
  margin-left: 3em;
  margin-right: 3em;
}
.centrartitulo{
  text-align: center;
  font-weight: bold;
}

.contorno {
  margin-top:10%;
  overflow: hidden;
  position: relative;

 text-align: center;
}
.contorno::before, .contorno::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  border: 2px solid transparent;
  width: 0;
  height: 0;
}
.contorno::before {
  top: 0;
  left: 0;
  border-top-color: #60daaa;
  border-right-color: #60daaa;
  animation: border 2s infinite;
}
.contorno::after {
  bottom: 0;
  right: 0;
  animation: border 2s 1s infinite, borderColor 2s 1s infinite;
}
.letra{
  color: #FFF3FEFF;
  font-size: medium;

  
}

.negrita{
  font-weight: bold;
}
.center{
  margin: auto;
  width: 90%;
  border: 0px solid #5DADE2;
  padding: 10px;
  margin-top: 10%;
  background-color: #FFFFFFFF;
  

}
.Fondo{
  background: url(../img/Fondo1.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
    position: absolute; 
    top: 0; 
    left: 0; 
    width: 100%;
     height: 100%;
}
.full-screen{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  overflow: auto;
  background: 10;
}

div {
  margin-bottom: 10px;
}

input:invalid + span {
  position: relative;
}

input:invalid + span:after {
  content: '✖';
  position: absolute;
  right: -18px;
}

input:valid + span {
  position: relative;
}

input:valid + span:after {
  content: '✓';
  position: absolute;
  right: -18px;
}



